html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}


/* h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  
}

/* Apply Oswald to all paragraphs */
p {
  font-family: 'Oswald', sans-serif;
} 


.material-background {
  --bg-image: url("https://images.pexels.com/photos/13807427/pexels-photo-13807427.jpeg");
  --bg-image-opacity: .1;
  background-color: rgba(158, 198, 243, 0.2);
  position: relative;
  isolation: isolate;
}

.material-background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-image);
  opacity: var(--bg-image-opacity);
}

.assessment-background {
  --bg-image: url("https://images.pexels.com/photos/1266808/pexels-photo-1266808.jpeg");
  --bg-image-opacity: .05;
  background-color: rgba(231, 139, 72, 0.5);
  position: relative;
  isolation: isolate;
}

.assessment-background::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: var(--bg-image);
  opacity: var(--bg-image-opacity);
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.float {
  animation: float 2s ease-in-out infinite;
}


